.vscode
Library
ProjectSettings
obj
Assets/3RD_PARTY
Assets/3RD_PARTY.meta
Assets/Animation
Assets/Audio
Assets/Environment
Assets/Fonts
Assets/Materials
Assets/Models
Assets/Prefabs
Assets/Scenes
Assets/Shaders
Assets/Textures
Assets/XR
Logs
Packages
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
TropicIsland.sln